<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>う</key>
	<dict>
		<key>a</key>
		<string>あ</string>
		<key>i</key>
		<string>い</string>
		<key>u</key>
		<string>う</string>
		<key>e</key>
		<string>え</string>
		<key>o</key>
		<string>お</string>
	</dict>
	<key>く</key>
	<dict>
		<key>a</key>
		<string>か</string>
		<key>i</key>
		<string>き</string>
		<key>u</key>
		<string>く</string>
		<key>e</key>
		<string>け</string>
		<key>o</key>
		<string>こ</string>
	</dict>
	<key>す</key>
	<dict>
		<key>a</key>
		<string>さ</string>
		<key>i</key>
		<string>し</string>
		<key>u</key>
		<string>す</string>
		<key>e</key>
		<string>せ</string>
		<key>o</key>
		<string>そ</string>
	</dict>
	<key>つ</key>
	<dict>
		<key>a</key>
		<string>た</string>
		<key>i</key>
		<string>ち</string>
		<key>u</key>
		<string>つ</string>
		<key>e</key>
		<string>て</string>
		<key>o</key>
		<string>と</string>
	</dict>
	<key>ぬ</key>
	<dict>
		<key>a</key>
		<string>な</string>
		<key>i</key>
		<string>に</string>
		<key>u</key>
		<string>ぬ</string>
		<key>e</key>
		<string>ね</string>
		<key>o</key>
		<string>の</string>
	</dict>
	<key>ふ</key>
	<dict>
		<key>a</key>
		<string>は</string>
		<key>i</key>
		<string>ひ</string>
		<key>u</key>
		<string>ふ</string>
		<key>e</key>
		<string>へ</string>
		<key>o</key>
		<string>ほ</string>
	</dict>
	<key>む</key>
	<dict>
		<key>a</key>
		<string>ま</string>
		<key>i</key>
		<string>み</string>
		<key>u</key>
		<string>む</string>
		<key>e</key>
		<string>め</string>
		<key>o</key>
		<string>も</string>
	</dict>
	<key>ゆ</key>
	<dict>
		<key>a</key>
		<string>や</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>ゆ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>よ</string>
	</dict>
	<key>る</key>
	<dict>
		<key>a</key>
		<string>ら</string>
		<key>i</key>
		<string>り</string>
		<key>u</key>
		<string>る</string>
		<key>e</key>
		<string>れ</string>
		<key>o</key>
		<string>ろ</string>
	</dict>
	<key>ぐ</key>
	<dict>
		<key>a</key>
		<string>が</string>
		<key>i</key>
		<string>ぎ</string>
		<key>u</key>
		<string>ぐ</string>
		<key>e</key>
		<string>げ</string>
		<key>o</key>
		<string>ご</string>
	</dict>
	<key>ず</key>
	<dict>
		<key>a</key>
		<string>ざ</string>
		<key>i</key>
		<string>じ</string>
		<key>u</key>
		<string>ず</string>
		<key>e</key>
		<string>ぜ</string>
		<key>o</key>
		<string>ぞ</string>
	</dict>
	<key>づ</key>
	<dict>
		<key>a</key>
		<string>だ</string>
		<key>i</key>
		<string>ぢ</string>
		<key>u</key>
		<string>づ</string>
		<key>e</key>
		<string>で</string>
		<key>o</key>
		<string>ど</string>
	</dict>
	<key>ぶ</key>
	<dict>
		<key>a</key>
		<string>ば</string>
		<key>i</key>
		<string>び</string>
		<key>u</key>
		<string>ぶ</string>
		<key>e</key>
		<string>べ</string>
		<key>o</key>
		<string>ぼ</string>
	</dict>
	<key>ぷ</key>
	<dict>
		<key>a</key>
		<string>ぱ</string>
		<key>i</key>
		<string>ぴ</string>
		<key>u</key>
		<string>ぷ</string>
		<key>e</key>
		<string>ぺ</string>
		<key>o</key>
		<string>ぽ</string>
	</dict>
</dict>
</plist>
