<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>あ</key>
	<dict>
		<key>a</key>
		<string>あ</string>
		<key>i</key>
		<string>い</string>
		<key>u</key>
		<string>う</string>
		<key>e</key>
		<string>え</string>
		<key>o</key>
		<string>お</string>
	</dict>
	<key>か</key>
	<dict>
		<key>a</key>
		<string>か</string>
		<key>i</key>
		<string>き</string>
		<key>u</key>
		<string>く</string>
		<key>e</key>
		<string>け</string>
		<key>o</key>
		<string>こ</string>
	</dict>
	<key>さ</key>
	<dict>
		<key>a</key>
		<string>さ</string>
		<key>i</key>
		<string>し</string>
		<key>u</key>
		<string>す</string>
		<key>e</key>
		<string>せ</string>
		<key>o</key>
		<string>そ</string>
	</dict>
	<key>た</key>
	<dict>
		<key>a</key>
		<string>た</string>
		<key>i</key>
		<string>ち</string>
		<key>u</key>
		<string>つ</string>
		<key>e</key>
		<string>て</string>
		<key>o</key>
		<string>と</string>
	</dict>
	<key>な</key>
	<dict>
		<key>a</key>
		<string>な</string>
		<key>i</key>
		<string>に</string>
		<key>u</key>
		<string>ぬ</string>
		<key>e</key>
		<string>ね</string>
		<key>o</key>
		<string>の</string>
	</dict>
	<key>は</key>
	<dict>
		<key>a</key>
		<string>は</string>
		<key>i</key>
		<string>ひ</string>
		<key>u</key>
		<string>ふ</string>
		<key>e</key>
		<string>へ</string>
		<key>o</key>
		<string>ほ</string>
	</dict>
	<key>ま</key>
	<dict>
		<key>a</key>
		<string>ま</string>
		<key>i</key>
		<string>み</string>
		<key>u</key>
		<string>む</string>
		<key>e</key>
		<string>め</string>
		<key>o</key>
		<string>も</string>
	</dict>
	<key>や</key>
	<dict>
		<key>a</key>
		<string>や</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>ゆ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>よ</string>
	</dict>
	<key>ら</key>
	<dict>
		<key>a</key>
		<string>ら</string>
		<key>i</key>
		<string>り</string>
		<key>u</key>
		<string>る</string>
		<key>e</key>
		<string>れ</string>
		<key>o</key>
		<string>ろ</string>
	</dict>
	<key>わ</key>
	<dict>
		<key>a</key>
		<string>わ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string></string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>を</string>
	</dict>
	<key>が</key>
	<dict>
		<key>a</key>
		<string>が</string>
		<key>i</key>
		<string>ぎ</string>
		<key>u</key>
		<string>ぐ</string>
		<key>e</key>
		<string>げ</string>
		<key>o</key>
		<string>ご</string>
	</dict>
	<key>ざ</key>
	<dict>
		<key>a</key>
		<string>ざ</string>
		<key>i</key>
		<string>じ</string>
		<key>u</key>
		<string>ず</string>
		<key>e</key>
		<string>ぜ</string>
		<key>o</key>
		<string>ぞ</string>
	</dict>
	<key>だ</key>
	<dict>
		<key>a</key>
		<string>だ</string>
		<key>i</key>
		<string>ぢ</string>
		<key>u</key>
		<string>づ</string>
		<key>e</key>
		<string>で</string>
		<key>o</key>
		<string>ど</string>
	</dict>
	<key>ば</key>
	<dict>
		<key>a</key>
		<string>ば</string>
		<key>i</key>
		<string>び</string>
		<key>u</key>
		<string>ぶ</string>
		<key>e</key>
		<string>べ</string>
		<key>o</key>
		<string>ぼ</string>
	</dict>
	<key>ぱ</key>
	<dict>
		<key>a</key>
		<string>ぱ</string>
		<key>i</key>
		<string>ぴ</string>
		<key>u</key>
		<string>ぷ</string>
		<key>e</key>
		<string>ぺ</string>
		<key>o</key>
		<string>ぽ</string>
	</dict>
	<key>きゃ</key>
	<dict>
		<key>a</key>
		<string>きゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>きゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>きょ</string>
	</dict>
	<key>しゃ</key>
	<dict>
		<key>a</key>
		<string>しゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>しゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>しょ</string>
	</dict>
	<key>ちゃ</key>
	<dict>
		<key>a</key>
		<string>ちゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>ちゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>ちょ</string>
	</dict>
	<key>にゃ</key>
	<dict>
		<key>a</key>
		<string>にゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>にゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>にょ</string>
	</dict>
	<key>ひゃ</key>
	<dict>
		<key>a</key>
		<string>ひゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>ひゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>ひょ</string>
	</dict>
	<key>みゃ</key>
	<dict>
		<key>a</key>
		<string>みゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>みゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>みょ</string>
	</dict>
	<key>りゃ</key>
	<dict>
		<key>a</key>
		<string>りゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>りゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>りょ</string>
	</dict>
	<key>ぎゃ</key>
	<dict>
		<key>a</key>
		<string>ぎゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>ぎゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>ぎょ</string>
	</dict>
	<key>じゃ</key>
	<dict>
		<key>a</key>
		<string>じゃ</string>
		<key>i</key>
		<string></string>
		<key>u</key>
		<string>じゅ</string>
		<key>e</key>
		<string></string>
		<key>o</key>
		<string>じょ</string>
	</dict>
</dict>
</plist>
